.calendar-header
{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-items: center;
    align-items: center;
}

.month
{
    font-weight: 600;
    font-size: 1.2rem;
    justify-self: center;
}

.calendar-body
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.day-cell
{
    background-color: antiquewhite;
    height: 30px;
}