.container {
    width: 80%;
    margin: 30px 10% 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 5%;
    border-radius: var(--container-border-radius);
    border: var(--container-border);
}


.option-container
{
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-bottom: 20px;
}


.flashcard-header
{
    display: flex;
    align-items: center;
}

.flashcard-title, .input-title
{
    font-size: 1.3rem;
    font-weight: 600;
}

.flashcard-description
{
    font-size: 0.9rem;
    color: gray;
    font-style: italic;
}

.input-title
{
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.input-title:focus
{
    outline:none;
    border-bottom: 2px solid rgb(17, 77, 255);
}

.textarea-description
{
    resize: vertical;
    font-family: inherit;
    max-height: 300px;
    padding: 6px 10px;
    font-size: 0.9rem;
}

.textarea-description:focus
{
    outline: 2px solid rgb(17, 77, 255)
}

.edit-options
{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.save-edit-button, .cancel-edit-button
{
    width: 100px;
    padding: 8px 0;
    font-weight: 500;
    font-size: 0.9rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.save-edit-button
{
    margin-left: auto;
    color: white;
    margin-right: 5px;
    background-color: rgb(0, 0, 172);
    
}

.cancel-edit-button
{
    color: rgb(28, 28, 28);
}

.icon
{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.edit-button
{
    margin-left: 10px;
}


.learn-button
{
    align-self: flex-start;
    width: 100px;
    font-size: 0.9rem;
    margin-top: 8px;
    border: none;
    border-radius: 9999px;
    padding: 8px 0;
    cursor: pointer;
    color: rgb(255, 245, 240);
    font-weight: 600;
    background-color: rgb(7, 44, 147);
}

.learn-button:hover
{
    background-color: rgb(0, 32, 121);
}

.learn-button:active
{
    background-color: rgb(2, 25, 87);
}

.add-button {
    color: rgb(242, 242, 255);
    background-color: rgb(13, 61, 193);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    border-radius: 6px;
}

.delete-button {
    color: red;
    padding: 8px 0;
    width: 90px;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
}

.delete-button:hover {
    transform: scale(1.05);
}

.page-controller {
    display: flex;
    align-self: center;
    justify-content: center;
}

.page-controller .button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 999px;
    display: grid;
    color: rgb(20, 57, 222);
    font-weight: 500;
    place-items: center;
    cursor: pointer;
    transition: 80ms;
}

.limit-select {
    align-self: flex-end;
}

.page-controller .button:hover {
    background-color: rgb(20, 57, 222);
    color: white;
}

.page-controller .button.hidden {
    visibility: hidden;
}

.page-controller .button.active {
    background-color: rgb(20, 57, 222);
    color: white;
}

.invisible
{
    display: none;
}

.disappear {
    animation: disappearAnim 500ms;
}

@keyframes disappearAnim {
    to {
        opacity: 0;
    }
}