.container
{
    width: 90%;
    margin: 30px 5% 0;
    display: flex;
    padding: 50px 5% 50px;
    background-color: white;
    border-radius: var(--container-border-radius);
    flex-direction: column;
    border: var(--container-border);
}

.option-container
{
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.add-button
{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 4px;
    margin-left: 5px;
}

.add-button:hover
{
    background-color: rgb(24, 97, 255);
}

.button-icon
{
    width: 30px;
    height: 30px;
}

.title 
{
    font-size: 2rem;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.stat
{
    font-size: 0.9rem;
    align-self: self-end;
    color: gray;
    margin-bottom: 10px;
}

.flashcard-collection-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
}



