.header-container {
    display: flex;
    height: var(--header-height);
    align-items: center;
    position: fixed;
    left: 0;
    background-color: white;
    z-index: 1000;
    top: 0;
    right: 0;
    border-bottom: 1px solid rgba(226, 226, 226, 0.625);
}

#side-menu-button,
#setting-button {
    flex-basis: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /* prevent the title highlighted */
}

#setting-button {
    position: relative;
}

#side-menu-icon,
#setting-icon {
    height: 35px;
    padding: 5px;
    position: relative;
    z-index: 10;
    width: 35px;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    transition: 150ms;
}

#side-menu-icon:hover,
#setting-icon:hover {
    background-color: var(--option-hover-color);
}

#side-menu-icon:active,
#setting-icon:active {
    background-color: var(--option-active-color);
}

#web-title {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
}

#web-title-text {
    cursor: pointer;
}

#dictation-navigation, 
#test-navigation,
#flashcard-navigation{
    cursor: pointer;
    font-weight: 400;
    margin: 0 5px;
    color: rgb(208, 208, 208);
}


#dictation-navigation:hover, 
#test-navigation:hover,
#flashcard-navigation:hover{
    cursor: pointer;
    margin: 0 5px;
    color: rgb(35, 35, 255);
}

#dictation-navigation.nav-active, 
#test-navigation.nav-active,
#flashcard-navigation.nav-active
{
    font-weight: 500;
    color: rgb(0, 0, 188);
}
