.setting-drop-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 300px;
    padding: 10px 5px;
    height: 0;
    transition: height 500ms;
    border: 1px solid rgb(205, 205, 205);
    display: flex;
    background-color: white;
    border-radius: 5px;
    cursor: auto;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
}

.setting-drop-menu.visible {
    height: 150px;
    visibility: visible;
}
.user-card
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-height: 2.2rem;
}

.user-avt
{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 999px;
    background-color: aqua;
}

.user-info-section
{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.user-name
{
    height: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
}

.visit-profile
{
    font-size: 0.9rem;
    color: gray;
    margin-top: 2px;
    cursor: pointer;
}

.visit-profile:hover
{
    text-decoration: underline;
}


.unstyled-link {
    text-decoration: none;
    color: #000;
}



.setting-menu-item {
    padding: 5px 3px;
    cursor: pointer;
}

.setting-menu-item:hover {
    background-color: rgb(241, 241, 241);
}

.setting-menu-item:active {
    background-color: rgb(211, 211, 211);
}
