.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(203, 203, 203, 0.315);
    z-index: 2000;
}

.popup-content
{
    position: absolute;
    top: 20%;
    bottom: 40%;
    right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30%;
    background-color: white;
}