.container {
    margin: 20px 5% 0;
    padding: 30px 5%;
    display: flex;
    background-color: white;
    border: var(--container-border);
    border-radius: var(--container-border-radius);
    flex-direction: column;
}

.test-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.history-table
{
    align-self: start;
}

.choosing-section {
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

.title-bold {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.part-container {
    width: fit-content;
    display: flex;
    align-items: center;
}

.checkbox-button
{
    margin-left: 5px;
}

.start-button
{
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 4px 30px;
}

.module-table {
    border-collapse: collapse;
}

.module-th,
.module-td {
    border-top: 1px solid rgb(215, 215, 215);
    text-align: center;
}

.module-th {
    padding: 6px 16px;
    font-size: 1rem;
}

.module-td  {
    padding: 4px 16px;
    font-size: 0.95rem;
}
.module-tr:last-child {
    border-bottom: 1px solid rgb(215, 215, 215);
}

.module-tbody .module-tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
}
