.container {
    display: flex;
    padding: 20px 8% 0;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.left-section {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-right: 10px;
    padding: 20px 0;
    border: 2px solid rgba(210, 210, 210, 0.303);
    align-items: center;
}

.search-bar {
    width: 90%;
    font-size: 1rem;
    margin-top: 10px;
    padding: 6px;
}

.search-button {
    margin-right: 5%;
    align-self: self-end;
    margin-top: 10px;
    width: 100px;
    padding: 8px 10px;
    color: rgb(237, 244, 255);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 999px;
    background-color: rgb(30, 115, 235);
}

.search-button:hover
{
    background-color: rgb(12, 101, 225);
}

.search-button:active
{
    background-color: rgb(5, 82, 191);
}

.filter-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}

.tests-grid-layout {
    display: grid;
    width: 90%;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 8px;
}
/* 
@media (max-width: 1000px)
{
    .tests-grid-layout {
    }
}

@media (max-width: 600px)
{
    .tests-grid-layout {
    }
}
 */



.right-section {
    flex: 1;
    align-self: self-start;
    padding: 20px 0;
    margin-left: 10px;
    border: 1px solid rgba(218, 218, 218, 0.429);
    box-shadow: 5px 5px 10px 2px rgba(218, 218, 218, 0.301); 
}
